@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-size: 16px;
}

.nav__logo {
    width: 122px;
}

.nav__contact{
    max-width: 90vw;
    display: flex;
    justify-content: space-around;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;  
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav__links a {
    text-decoration: none;
}

.nav__contact img {
    background-color: #61C3A1;
    padding: 6px;
    border-radius: 50%;
}

.nav__contact h3,
.nav__contact p {
    font-size: 0.9em;
}

.finsweet {
    max-width: 1300px;
    padding: 0 10em;
}

.finsweet__goal {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}

.finsweet__goal h1 {
    max-width: 10em;
    font-weight: 800;
    font-size: 2em;
    font-family: 'Manrope', sans-serif;
    line-height: 1.2em;
}

.finsweet__goal:last-child{
    background-image: url("./homeimages/bg-image.png");
}

.button {
    display: inline-block;
    max-width: 203px;
    background-color: #FF6433;
    border-radius: 12px;
    padding: 6px 10px;
    color: white;
    margin-top: 1em;
    text-decoration: none;
}

.finsweet__services {
    background-color: #E2E6E9;
    display: flex;
    justify-content: space-between;
    padding-top: 3em;
    margin-top: 3em;
}

.finsweet__services h1 {
    font-weight: 800;
    font-size: 3em;
    font-family: 'Manrope', sans-serif;
}

.finsweet__services:first-child {
    max-width: 5em;
}

.form {
    max-width: 625px;
}

.form input {
    padding: 1em;
    max-width: 625px;
    margin-top: 1em;
}

.service {
    list-style-image: url(./homeimages/customservice.png);
}

.mechanic {
    list-style-image: url(./homeimages/mechanics.png);
}

.pricing {
    list-style-image: url(./homeimages/pricing.png);
}