* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1em;
}

section {
    padding: 2em;
    
}

img {
    max-width: 100%;
    height: auto;
}
.sedans {
    background-color: hsl(31, 77%, 52%);
}

.sedans a {
    color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.suvs a {
    color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

.luxury a {
    color: hsl(179, 100%, 13%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 3vw;
}

h2 {
    color: hsl(0, 0%, 95%);
    font-weight: 900;
    margin-top: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
    background-color: white;
    margin-top: 3em;
    border-radius: 40px;
    margin-bottom: 1em;
    font-size: 2vw;
}

a:hover {
    color: white;
    border: 2px solid white;
}

.sedans a:hover {
    background-color: hsl(31, 77%, 52%);
}

.suvs a:hover {
    background-color: hsl(184, 100%, 22%);
}

.luxury a:hover {
    background-color: hsl(179, 100%, 13%);
}

.grid--main {
    display: grid;
    grid: repeat(6, auto)/repeat(5, 1fr);
}

.box-1 {
    background-color: orange;
    grid-area: 1/4;
}