@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
}

.nav__logo {
    width: 122px;
}

.nav__contact{
    max-width: 90vw;
    display: flex;
    justify-content: space-around;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;  
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav__links a {
    text-decoration: none;
}

.nav__contact img {
    background-color: #61C3A1;
    padding: 6px;
    border-radius: 50%;
}

.nav__contact h3,
.nav__contact p {
    font-size: 0.9em;
}

.finsweet {
    max-width: 1300px;
    padding: 0 10em;
}

.finsweet__goal {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}

.finsweet__goal h1 {
    max-width: 10em;
    font-weight: 800;
    font-size: 2em;
    line-height: 1.2em;
}

.finsweet__goal__rating{
    background-image: url("./homeimages/mechanicman.png");
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.finsweet__goal__rating div{
    max-width: 282px;
    background-color: white;
}

.button {
    display: inline-block;
    max-width: 203px;
    background-color: #FF6433;
    border-radius: 12px;
    padding: 6px 10px;
    color: white;
    margin-top: 1em;
    text-decoration: none;
}

.finsweet__services {
    background-color: #E2E6E9;
    display: flex;
    justify-content: space-between;
    padding-top: 3em;
    margin-top: 3em;
}

.finsweet__services h1 {
    font-weight: 800;
    font-size: 3em;
    font-family: 'Manrope', sans-serif;
}

.finsweet__services:first-child {
    max-width: 5em;
}

.form {
    max-width: 625px;
}

.form input {
    padding: 1em;
    max-width: 625px;
    margin-top: 1em;
}

.service {
    list-style-image: url(./homeimages/customservice.png);
}

.mechanic {
    list-style-image: url(./homeimages/mechanics.png);
}

.pricing {
    list-style-image: url(./homeimages/pricing.png);
}

/* ********** finsweet process section************* */

.finsweet__process {
    display: flex;
    justify-content: space-around;
    max-width: 1206px;
    margin-top: 4em;
    margin-bottom: 3em;

}

.finsweet__process__left {
    max-width: 524px;
    align-self: center;
}
.finsweet__process__left h2 {
    font-weight: 800;
    font-family: manrope, sans-serif;
    font-weight: 58px;
    max-width: 12em;
}

.finsweet__process__left p {
    max-width: 18em;
    line-height: 1.5em;
    margin-top: 1em;
}

.finsweet__process__right {
    max-width: 432px;
}

.finsweet__process__right h3 {

}

.number {
    background-color: #661CE7;
    border-radius: 50%;
    padding: 10px;
    color: white;
    margin-right: 1em;
}

.finsweet__process__right h3 {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1.5em;
}

.finsweet__process__right p {
    padding-left: 2.5em;
    border-left: 2px dashed #FF6433;
    margin-left: 1.5em;
    opacity: 0.6;
    font-weight: 600;
    font-size: 0.9em;
}

.finsweet__offer {
    background-color: #E2E6E9;
    padding-top: 4em;
}

.finsweet__offer div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
    max-width: 800px;
    justify-content:center;
    align-items: stretch;
    margin-left: 3.5em;
    
}
.finsweet__offer figure {
    background-color: white;
    text-align: center;
    margin-bottom: 0.1em;
    padding: 2em;
    width: 10em;
}

.finsweet__offer figure:hover {
    background-color: #FF6433;
}

.finsweet__offer p {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #1E1B1B;
    letter-spacing: -0.03em;
    margin-bottom: 1em;
}

.finsweet__offer h3{
    max-width: 15.5em;
    text-align: center;
    font-weight: 800;
    font-size: 2em;
    color: #1E1B1B;
    margin: 0 auto;
    margin-bottom: 1em;
}



/* .finsweeet__offer__view__all p{
    margin-top: 1em;
    margin-bottom: 5em;
    text-align: left;
    display: flex;
    align-self: flex-end;
} */

.finsweet__contact__form {
    background: url(./homeimages/car.png) left top no-repeat, url(./homeimages/pliers.png) right top no-repeat;
    background-size: 50vw, 50vw,contain;
    max-height: 40vw;
}

.finsweet__contact__form div {
    width: 30vw;
    margin: auto;
    background-color: #FF6433;
    padding: 100px 30px;
    color: whitesmoke;
}

.finsweet__contact__form a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #1E1B1B;
    font-weight: 600;
    font-size: 18px;
    padding: 7px 15px;
    border-radius: 5px;
}

.finsweet__contact__experience {
    display: flex;
    justify-content: space-between;
    background-color: #E2E6E9;
    padding-top: 2em;
    padding-bottom: 2em;
    font-weight: 600;
}

.experience {
    color: #661CE7;
    font-weight: 800px;
    font-size: 2em;
}

/* **************finsweet brand section************* */
.finsweet__brands h1 {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    padding-top: 3em;
}

.finsweet__brands img {
    display: inline-block;
    width: 180px;
    margin-top: 1em;
}
